<div class="col-12 col-md-12 mt-2" data-controller="group">
   
  <div class="modal " id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-target="group.modal">    
  <%= render 'new' %>
  </div>
</div>

<div class="col-12 col-md-12 mt-2">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th>群組名稱</th>
        <th>群組描述</th>
        <th>編輯</th>
        <th>刪除</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>#</td>
          <td></td>
          <td></td>
          <td>#</td>
          <td>#</td>
        </tr>
    </tbody>
  </table>
</div>